.ash_history
.bundle
.byebug_history
.capistrano
.codeclimate.yml
.dockerignore
.git
.env
.idea
.eslignore
.eslintrc
.gitignore
.DS_Store
.rspec
.rubocop_todo.yml
.rubocop.yml
.ruby-gemset
.ruby-version
.travis.yml
coffeelint.json
docker-compose.yml
Development.Dockerfile
Dockerfile
README.md
condig/deploy
config/secrets.yml.key
coverage
log/*
provision
public/assets
public/uploads
spec
tmp/*
