*.Dockerfile
.ash_history
.bundle
.byebug_history
.capistrano
.codeclimate.yml
.dockerignore
.DS_Store
.env
.eslignore
.eslintrc
.git
.gitignore
.idea
.rspec
.rubocop.yml
.rubocop_todo.yml
.ruby-gemset
.ruby-version
.travis.yml
coffeelint.json
condig/deploy
config/secrets.yml.key
coverage
docker-compose.*.yml
docker-compose.yml
Dockerfile
log/*
provision
public/assets
public/uploads
README.md
spec
tmp/*
