h1 = t('.fyodor_cherashev')
h2 Персональный веб-сайт
p
  |
    Доброго времени суток! Мой сайт находится в разработке.
    Жду вас в ближайшее время. А пока что, вы можете написать мне на
    #{mail_to 'cherashev.f@gmail.com', 'электронную почту'}.
