#!/bin/bash

# Settings
APP_ROOT={{ app_path }}
APP_USER={{ username }}
APP_GROUP={{ username }}
APP_ENV={{ rails_env }}

# Export
source /home/{{ username }}/.rvm/scripts/rvm

umask 0002
CMD="RAILS_ENV={{ rails_env }} bundle exec puma -C {{ app_path }}/config/puma/{{ rails_env }}.rb"

# Run
exec 2>&1
cd $APP_ROOT
exec chpst -u "${APP_USER}:${APP_GROUP}" $CMD
