#!/bin/bash

# Settings
APP_ROOT={{ app_path }}
APP_USER={{ username }}
APP_GROUP={{ username }}
APP_ENV={{ rails_env }}

# Export
source /home/{{ username }}/.rvm/scripts/rvm

umask 0002
CMD="bundle exec puma -C ${APP_ROOT}/config/puma/${APP_ENV}.rb"

# Run
exec 2>&1
rm -f "${APP_ROOT}/tmp/sockets/puma.${APP_ENV}.sock"
cd $APP_ROOT
exec chpst -u "${APP_USER}:${APP_GROUP}" $CMD



