#kament_comments
javascript:
  /* * * НАСТРОЙКА * * */
  var kament_subdomain = 'cherashev';

  /* * * НЕ МЕНЯЙТЕ НИЧЕГО НИЖЕ ЭТОЙ СТРОКИ * * */
  (function() {
    var node = document.createElement('script'); node.type = 'text/javascript'; node.async = true;
    node.src = 'http://' + kament_subdomain + '.svkament.ru/js/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(node);
  })();
