= csrf_meta_tags

meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="description" content="Fedor Cherashev - Software Engineering Manager, Technical Project Manager, Technical Lead"
title Fedor Cherashev - Software Engineering Manager, Technical Project Manager, Technical Lead

- if Rails.env.production? && !current_user&.admin?
  = render 'layouts/google_analytics'

= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': true
= javascript_include_tag 'application', 'data-turbolinks-track': true
