= csrf_meta_tags

meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="description" content="#{content_for?(:description) ? yield(:description) : 'cherashev.com'}"
title = content_for?(:title) ? yield(:title) : 'cherashev.com'

- if Rails.env.production? && !current_user&.admin?
  = render 'layouts/google_analytics'

= stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
